USE [master]
GO
/****** Object:  Database [T27-API_ER_SQL_EX2]    Script Date: 05/02/2021 14:58:20 ******/
CREATE DATABASE [T27-API_ER_SQL_EX2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T27-API_ER_SQL_EX2', FILENAME = N'/var/opt/mssql/data/T27-API_ER_SQL_EX2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'T27-API_ER_SQL_EX2_log', FILENAME = N'/var/opt/mssql/data/T27-API_ER_SQL_EX2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T27-API_ER_SQL_EX2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T27-API_ER_SQL_EX2]
GO
/****** Object:  Table [dbo].[Asignado_a]    Script Date: 05/02/2021 14:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignado_a](
	[Cientifico] [varchar](8) NOT NULL,
	[Proyecto] [char](4) NOT NULL,
 CONSTRAINT [PK_Asignado_a] PRIMARY KEY CLUSTERED 
(
	[Cientifico] ASC,
	[Proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cientificos]    Script Date: 05/02/2021 14:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cientificos](
	[DNI] [varchar](8) NOT NULL,
	[NomApels] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyecto]    Script Date: 05/02/2021 14:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyecto](
	[Id] [char](4) NOT NULL,
	[Nombre] [nvarchar](255) NULL,
	[Horas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Asignado_a] ([Cientifico], [Proyecto]) VALUES (N'10000000', N'0005')
INSERT [dbo].[Asignado_a] ([Cientifico], [Proyecto]) VALUES (N'11000000', N'0010')
INSERT [dbo].[Asignado_a] ([Cientifico], [Proyecto]) VALUES (N'20000000', N'0004')
GO
INSERT [dbo].[Cientificos] ([DNI], [NomApels]) VALUES (N'10000000', N'Menganito 1')
INSERT [dbo].[Cientificos] ([DNI], [NomApels]) VALUES (N'11000000', N'Menganito 10')
INSERT [dbo].[Cientificos] ([DNI], [NomApels]) VALUES (N'20000000', N'Menganito 2')
GO
INSERT [dbo].[Proyecto] ([Id], [Nombre], [Horas]) VALUES (N'0001', N'Proyecto X', 20)
INSERT [dbo].[Proyecto] ([Id], [Nombre], [Horas]) VALUES (N'0002', N'Proyecto Y', 21)
INSERT [dbo].[Proyecto] ([Id], [Nombre], [Horas]) VALUES (N'0003', N'Proyecto Z', 22)
GO
ALTER TABLE [dbo].[Asignado_a]  WITH CHECK ADD FOREIGN KEY([Cientifico])
REFERENCES [dbo].[Cientificos] ([DNI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Asignado_a]  WITH CHECK ADD FOREIGN KEY([Proyecto])
REFERENCES [dbo].[Proyecto] ([Id])
ON UPDATE CASCADE
GO
USE [master]
GO
